# 构建产物（回归两侧 Build）
Boot/Build/**
!Boot/Build/.gitkeep
Kernel/Build/**
!Kernel/Build/.gitkeep

# EDK2 本地生成（工具包源码保留，产物不进仓）
Boot/X64/EDK2/Build/
Boot/X64/EDK2/Conf/BuildEnv.sh
Boot/X64/EDK2/Conf/.cache/

# 本地覆盖
*.local
Config.local.txt

# 杂物
*.o
.DS_Store
